<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debate Break Calculator</title>
    <link rel="stylesheet" href="../static/form.css">
  </head>

  <body>
    <form id="form" method="POST" action="/">
        <div class = "centered">
          Number of Teams <input type="text" name="teams" required><br>
          Number of Rounds <input type="text" name="rounds" required><br>
          Number Breaking to OutRounds <input type="text" name="breaking" required><br>
        </div>
      <div class="button">
        <input type="submit" name="tournament" value="Two Teams">
        <input type="submit" name="tournament" value="Four Teams">
      </div>
    </form>
  </body>

</html>